body,
html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    height: 100%;
    padding-top:30px;
    background-color: #f8f9fa;
}

/* Client/Vendor module*/
#login,
#profile,
#shoppingcart,
#client,
#vendor,
.vendorinfo{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

/* Used on  */
#home-nav {
    background: transparent;
    background-color: transparent;
    border-color: transparent;
    transition: background-color 0.5s ease;
}

/* Adapt offer size based on vw width for mobile */
@media (max-width: 480px){
    #offer{
        background: url(../img/offer.png) no-repeat;
        height: 250px;
        background-size: 100%;
    }
}
@media (min-width: 481px){
    #offer{
        background: url(../img/offer.png) no-repeat;
        height: 100%;
        background-size: 100%;
    }
}

/* Register.html form*/
.custom-select {
    text-align: center;
    /* Firefox requires this */
    width: 300px;
    text-align-last: center;
}
