body, html {
 font-family: 'Quicksand', sans-serif;
 font-weight: 400;
 height: 100%;
}

/* In case we want to change the navbar color, remember to remove bg-light
.navbar {
    background-color: #584E5C;
}
*/

h1, h2, h3, h4, h5, h6 {
 font-weight: 300;
}

#client{
    display: none;
}

#vendor{
    display: none;
}

.custom-select{
    text-align: center; /* Firefox requires this */
    width: 300px; 
    text-align-last:center;
}

#home{
    float: left;
    text-align: center;
    width: 100%;
}

form{
   margin-top: 75px;
}

.carousel-inner > .carousel-item {
    height: 500px;
    background-position: center center;
    background-size: cover;
}