body {
  background-color: #f8f9fa;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background-color: #f8f9fa;
}

.profile-userinfo {
  text-align: center;
  margin-top: 20px;
}

.profile-userinfo #name {
  text-transform: uppercase;
  color: #5a7391;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
}

.profile-userinfo #usertype {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* userbutton */
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  padding: 6px 15px;
  margin-right: 5px;
}
    
/* usermenu */
.profile-usermenu {
  margin-top: 30px;
}

/* usermenu links */
.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
}

/* usermenu icons */
.profile-usermenu ul li a i {
  margin-right: 8px;
  margin-left: 8px;
}

/* usermenu link hovers */
.profile-usermenu ul li a:hover {
  color: #5b9bd1;
  text-decoration: none;
}

/* usermenu current link */
.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 460px;
}

#profile-info {
  display: block;
}

#profile-orders {
  display: none;
}

#profile-reviews {
  display: none;
}
